// --------------------------------------------------
// Project styles
// --------------------------------------------------

body {
    background-color: $gray-1;
}

.hero {
    align-items: center;
    background-image: url('../images/dumbo.jpg');
    background-position: center bottom;
    background-size: cover;
    display: flex;
    height: 40vh;
    margin-bottom: 2em;
}

.hero-title {
    color: #ffffff;
    font-size: 60px;
    text-align: center;
    text-shadow: 0 0 0.2em #000000;
}

.content-box {
    background-color: #ffffff;
    border: 1px solid $gray-2;
    border-radius: 0.5em;
    margin: 0.5em 0;
    padding: 2em;
}
